* {
    font-family: 'Comfortaa', cursive;
    margin: 0;
}

body {
    margin: 0 auto;
    box-sizing: border-box;
}

header {
    background-image: url("../img/headerphoto.jpg");
    background-size: 100%;
    background-position: bottom;
    display: block;
    height: 602px;
    position: relative;
    background-repeat: no-repeat;
}
.container {
    width: 100%;
}

main {
     max-width: 1116px;
}

.icon {
    width: 40px;
    height: 40px;
}

.gallery {
    display: block;
    width: 300px;
    height: 200px;
}

.team {
    border-radius: 50%;
    width: 300px
}

.toolbar li {
	display: inline-block;
	padding: 10px 30px;
	margin: 0;
	text-align: center;
}

.toolbar a {
    text-decoration: none;
    flex-direction: row;
}

ul.toolbar {
    margin-bottom: 0;
    padding: 0, 50px;
}

#nav {
    background-color: #FFEC4A;
    margin-bottom: 0;
    position: absolute;
    width: 100%;
    top: 564px;
}

.button {
    background-color: #3091C9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 4px 2px;
    cursor: pointer;
}

.events {
    max-width: 1024px;
}